@model IEnumerable<FilghtTicketApplication.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Ticket Repo</h1>

<br />

<p class="text-center">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<br />

<table class="table sortable table-striped">
    <thead>
        <tr class="text-center">
            <th>
                Flight ID
            </th>
            <th>
                Seat ID
            </th>
            <th>
                Purchased On
            </th>
            <th class="sorttable_nosort">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr class="text-center">
        <td>
            <a asp-controller="Flights" asp-action="Details" asp-route-id="@item.flightID">
                @Html.DisplayFor(modelItem => item.flightID)
            </a>
        </td>
        <td>
            <a asp-controller="Seats" asp-action="Details" asp-route-id="@item.seatID">
                @Html.DisplayFor(modelItem => item.seatID)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.purchasedOn)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ticketID" class="btn btn-primary">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ticketID" class="btn btn-info">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ticketID" class="btn btn-danger">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
