@model FilghtTicketApplication.Models.Flight

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Delete</h1>

<h3 class="text-danger text-center">Are you sure you want to delete this?</h3>

<br />

<div >
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Flight Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.flightName)
        </dd>
        <dt class = "col-sm-2">
            Airline
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.airline.airlineName)
        </dd>
        <dt class = "col-sm-2">
            Departure
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.departureDate)
        </dd>
        <dt class = "col-sm-2">
            Landing
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.landingTime)
        </dd>
        <dt class = "col-sm-2">
            From
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.departureFrom)
        </dd>
        <dt class = "col-sm-2">
            To
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.arrivalAt)
        </dd>
    </dl>

    <br />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="flightID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </form>
</div>
