@model FilghtTicketApplication.Models.Flight

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Details</h1>

<br />

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Flight Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.flightName)
        </dd>
        <dt class = "col-sm-2">
            Airline
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.airline.airlineName)
        </dd>
        <dt class = "col-sm-2">
            Departure
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.departureDate)
        </dd>
        <dt class = "col-sm-2">
            Landing
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.landingTime)
        </dd>
        <dt class = "col-sm-2">
            From
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.departureFrom)
        </dd>
        <dt class = "col-sm-2">
            To
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.arrivalAt)
        </dd>
    </dl>
</div>

<br />

<div>
    <a asp-action="Edit" asp-route-id="@Model?.flightID" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
