@model IEnumerable<FilghtTicketApplication.Models.Flight>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Flights</h1>

<br />

<p class="text-center">
    <a asp-action="Create" class="btn btn-primary">Create New</a> | 
    <a asp-controller="Airlines" asp-action="Index" class="btn btn-primary">Airlines</a>
</p>

<br />

<table class="table sortable table-striped">
    <thead>
        <tr class="text-center">
            <th>
                Flight Name
            </th>
            <th>
                Airline
            </th>
            <th>
                Departure
            </th>
            <th>
                Landing
            </th>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th class="sorttable_nosort"> 
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.flightName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.airline.airlineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.landingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departureFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.arrivalAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.flightID" class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.flightID" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.flightID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
