@model IEnumerable<FilghtTicketApplication.Models.Seat>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Seats</h1>

<br />

<p class="text-center">
    <a asp-action="Create" class="btn btn-primary">Create New</a> | 
    <a asp-controller="Fligths" asp-action="Index" class="btn btn-primary">Flights</a>
</p>

<br />

<table class="table sortable table-striped">
    <thead>
        <tr class="text-center">
            <th>
                Fligth ID
            </th>
            <th>
                Flight Name
            </th>
            <th>
                Airline Name
            </th>
            <th>
                Seat number
            </th>
            <th>
                Seat Rwo
            </th>
            <th class="sorttable_nosort">
                Booked status
            </th>
            <th class ="sorttable_nosort">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center">
            <td>
            <a asp-controller="Flights" asp-action="Details" asp-route-id="@item.flightID">
                @Html.DisplayFor(modelItem => item.Flight.flightID)
            </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.flightName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.airline.airlineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.seatNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.seatRow)
            </td>
            <td class="text-primary">
                @Html.DisplayFor(modelItem => item.isBooked)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.seatID" class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.seatID" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.seatID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
